<form>
  <img class="my-4" src="../../assets/logo1.svg" alt="logomarca">
  <p>Crie sua conta</p>
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Nome">
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Email">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" placeholder="Senha">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" placeholder="Confirmar Senha">
  </div>
  <a href="#"><button class="aux-button">Cancelar</button></a>
  <button type="submit">Confirmar</button>
</form>
