<div class="content">
  <form (ngSubmit)="onSubmit" #form="ngForm">
    <img class="my-4" src="../../assets/logo1.svg" alt="logomarca">
    <div class="mb-3">
      <input type="text" name="email" id="email" [(ngModel)]="login.email" class="form-control" placeholder="Email ou Login" required>
    </div>
    <div class="mb-3">
      <input type="password" name="password" id="password" [(ngModel)]="login.password" class="form-control" placeholder="Senha" required>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="rememberPassword">
      <label class="form-check-label" for="rememberPassword">Lembrar minha senha</label>
    </div>
    <a [routerLink]="['/signup']"><button class="aux-button">Criar Conta</button></a>
    <button (click)="onSubmit()">Acessar</button>
  </form>
</div>
