:root {
  --primary-color: #49B4BB;
  --secondary-hover: #D9F1F3;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #A8A8A8;
}

.content {
  /* border: 5px solid blue; */
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

form button {
  width: 180px;
  height: 40px;

  background-color: var(--primary-color);
  border-radius: 8px;

  color: white;
  font-weight: bold;
  font-style: 16px;

  border: 0;

  margin-top: 40px;
  margin-left: 16px;
  margin-right: 16px;
  transition: background-color 200ms;
}

form button:hover {
  background-color: #90D3D7;
}

form button.aux-button {
  background-color: white;
  color: var(--primary-color);
}

form button.aux-button:hover {
  background-color: var(--secondary-hover);
}

form input {
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 4px;
}


