<imf-header></imf-header>

<div class="container shadow bg-body rounded">
  <div class="row p-3 mt-3">
    <div class="col-md">
      <h3>Consulta Clínica</h3>
    </div>
    <div class="col-md justify-content-end">
      <button type="button" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span> Nova Consulta</button>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <table class="table table-borderless table-striped">
        <thead>
          <tr>
            <th scope="col">ESPECIALIDADE</th>
            <th scope="col">PROFISSIONAL</th>
            <th scope="col">DATA</th>
            <th scope="col">HORA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cardiologia</td>
            <td>Dr. Caio Carlos Ferreira</td>
            <td>01/01/2020</td>
            <td>13:00</td>
          </tr>
          <tr>
            <td>Cardiologia</td>
            <td>Dr. Caio Carlos Ferreira</td>
            <td>01/01/2020</td>
            <td>13:00</td>
          </tr>
          <tr>
            <td>Cardiologia</td>
            <td>Dr. Caio Carlos Ferreira</td>
            <td>01/01/2020</td>
            <td>13:00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
